[Desktop Entry]
Type=Application
Name=Keysharp Screen Capture Helper
Exec=/usr/local/lib/keysharp/keysharp-screencap
NoDisplay=true
X-KDE-DBUS-Restricted-Interfaces=org.kde.kwin.Screenshot,org.kde.KWin.ScreenShot2
