[Desktop Entry]
Type=Application
Name=Keysharp
Exec=/usr/local/bin/keysharp %f
Icon=keysharp
Terminal=false
MimeType=application/x-keysharp;application/x-keysharp-compiled;application/x-autohotkey;
InitialPreference=100
NoDisplay=true
